extends ../layout
block content
    .container#app
        audio(src=`http://ws.stream.qqmusic.qq.com/${music.id}.m4a?fromtag=46`,ref="audio",@canplay=`canPlay(${music.id})`)
        .song-item.clearfix                   
            img(class="fl",src=`${music.img}`,alt=`${music.name}`,style="width:100px;margin-right:20px")
            .song-detail.fl
                p #{music.name}
                btn.btn.btn-primary(@click="playMusic") 播放
        .song-lyric(ref="lyric")
            ul(v-for="(item,index) in lyric")
                li(class="")  {{item}}


