extends ../public/include/layout
block content
    .container
        .row
            each item in list
                .song-item.clearfix                   
                    a(class="song-img fl",href=`/music/${item.id}`)
                        img(src=`${item.img}`,alt=`${item.name}`,style="width:100px")
                    .song-detail.fl
                        p #{item.name}
                        a.btn.btn-primary(href=`/music/${item.id}`,role="button") 查看歌曲详情
block script
